* {
    box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}
header {
	margin:0;
	padding:0;
}
p {
     margin: 0px;
}
h1 {
	margin: 0;
	padding: 0; 
}

a {
  text-decoration: none;
  -webkit-transition: all 0.9;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
#header_top {
  margin: 20px 50px
}
#logo, #slogo {
  float: left;
  font-size: 30px;
  font-weight: bold;
}
#logo span, #slogo span {
  font-size: 55px;
  font-weight: normal;
  color: #d84286;
}
#tel_num {
  float: right;
}
/* ******** Dropdown menu  ******* */

nav#dropmenu {
	padding: 10px 5%;
	background-color: #f8f8f8;
	vertical-align: center;
}
nav#dropmenu ul,
nav#dropmenu ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav#dropmenu ul li {
	float: left;
	background-color: #f8f8f8;
	opacity: 0.8;
}

nav#dropmenu ul a {
	text-decoration: none;
	color: black;
	font-size: 17px;
	font-weight: bold;
	display: block;
	padding: 0.5em 1em;
	text-align: center;
}
nav#dropmenu ul a:hover {
	background-color: #d84286;
	color: #fff;
}
/* ****************************** */
.right {
	float: right;
	width: auto;
}

.right i {
	color: #fff;
	font-size: 25px;
}
.right a {
	background-color: #d84286;
	float: right;
	color: #fff;
	vertical-align: center;
	margin-left: 5px;
	position: relative;
	top: 8px;
	display:block;
}
a#search_icon:hover {background-color: #ef7aaf;}
input[type=text]#search  {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #d84286;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]#search:focus {
    border: 3px solid #ef7aaf;
}
/* ************************************************* */

#main_slider {
	width: 100%;
	/*background-image: url("https://blogs.scientificamerican.com/observations/files/2014/06/World-Cup-Brazil1.jpg");
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
	position: relative;
	text-align: center;
    color: white;
}
#main_slider img {
	width: 100%;
	height: auto;
	-webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}
.main_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color:rgba(0,0,0,0.5);
	padding: 20px;
}
.main_title a {
	background-color: #d84286;
	padding: 10px;
}
.main_title a:hover {
	background-color: #ef7aaf;
}
/* ********************** */
#bolgs_area {
  padding: 20px 35px 20px 20px;
  float: left;
  width: 75%;
}
#bolgs_area span {
 float: left;
  background-color: #4caf50;
  color: #fff;
  padding: 0px 8px;
}
.blog {
  border-bottom: solid 1px #c6c6c6;
  padding: 20px 0px;
}
.blog img{
  width: 260px;
  height: 195px;
  float: left;
  margin-right: 15px;
}
.blog h1 {
  font-weight: bold;
}
.blog p {
  color: gray;
}
/* **************** */
#right_ban {
  float: right;
  width: 25%;
  padding: 20px 10px;
}
object {
  margin-bottom: 15px;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 5px;
}
/****************** */
#footer {
  background-color: #000;
  color: #fff;
  padding: 15px 20px 30px 30px;
}
#copright {
  float: right;
  color: #d3d3d3;
  font-size: 11px;
}