* {
    box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	background-color: darkslategray;
}
p {
     margin: 0px;
}
h1, h2 {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.9;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
.clearD{
	clear: both;
}
/* ****************************** */
#mainContainer {
	background-color: #fff;
	margin: 75px auto;
	padding: 15px 25px;
	font-family: "Trebuchet MS", arial;
	border-bottom: 7px solid rgb(204, 116, 0);
}
#cvHeader {
	overflow:hidden;
	border-bottom: #357777 7px solid;
	padding-bottom: 30px;
	position: relative;
}
#cvHeader img {
	border: 3px solid #357777;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
img#profilePic {
	padding: 7px;
}
.headerR {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#cvHeader h1 {
	/*font-family: 'LeagueGothicRegular', serif;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	color: #000;
	letter-spacing: 0;
	text-align: center;
}
#cvHeader h2 {
	font-family: 'LeagueGothicRegular', serif;
	font-size: 10px;
	color: dimgray;
	letter-spacing: 0;
	margin-top: 3px;
	text-align: center;
}
#cvHeader ul {
	padding: 25px 0 0 10px;
	margin: 0;
	font-size: 12px;
	line-height: 1.8;
	font-weight: bold;
}
#cvHeader ul li {
	list-style: none;
}
#cvHeader ul li i {
	margin-right: 10px;
	font-size: 17px;
	color: #438585;
}
.iconSet {
	font-size: 12px;
	background-color: #838282;
}
/* ********************************************** */
#cvBody {
	margin-top: 30px;
	color: #000;
}
#cvBody h2,#rightBanner .skilsTiltle {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #363636;
	margin-bottom: 10px;
}
#cvBody h2 {
	border-bottom: solid #363636 1px;
	line-height: 1.8;
	letter-spacing: 3px;
}
#cvBody i {
	margin-right: 10px;
	font-size: 30px;
}
section {
	margin-bottom: 30px;
	font-size: 12px;
}
.rightBannerBlog {
	overflow-x:auto;
}
#rightBanner .rightBannerBlog {
	text-align: justify;
}
table {
	border: none;
	width: 100%;
	font-size: 11px;
	border-collapse: collapse;
	margin-bottom: 25px;
}
.rightBannerBlog table tr td {
	vertical-align: center;
	padding-top: 10px;
}
.rightBannerBlog table tr td:first-child {
	width: 25%;
}
.rightBannerBlog table tr td:nth-child(2) {
	width: 75%;
	padding-left: 10px;
}
table .defaultFullSkill {
	width: 100%;
	height: 10px;
	background-color: #a5a4a4;
}
table .defaultFullSkill .skillProcent {
	height: 100%;
	background-color: #000;
}
#mainLeft p {
	line-height: 1.8;
}
#mainLeft h3 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #363636;
	margin-bottom: 10px;
}
#mainLeft .underTitles {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	color: #838282;
}
#mainLeft table tr td {
	vertical-align: top;
	padding-top: 15px;
}
#mainLeft section {
	overflow-x:auto;
}
#mainLeft table tr td:first-child {
	width: 30%;
}
#mainLeft table tr td:nth-child(2) {
	width: 70%;
	padding-left: 20px;
}
/* ************************************** */
/* ************************************** */
/* ************************************** */
/* ************************************** */
/* ********************************************* */
@media only screen and (min-width:450px) {
	#cvHeader h1 {
		font-size: 40px;
	}
	#cvHeader h2 {
		font-size: 18px;
	} 
}
/* ************************************** */
/* ************************************** */
@media only screen and (min-width:500px) {
	#cvHeader img {
		width: 43%;
		float: left;
	}
	.headerSideImg {
		width: 57%;
		float: right;
	}
	#cvHeader h1 {
		font-size: 30px;
	}
	#cvHeader h2 {
		font-size: 13px;
	}
	.headerM, .headerR {
		margin-left: 0;
		text-align: left;
	}
	.headerM {
		padding-top: 50px;
	}
}
/* ************************************** */
/* ************************************** */
@media only screen and (min-width:600px) {
	#mainContainer {
		width: 80%;
	}
}
/* ************************************** */
/* ************************************** */
@media only screen and (min-width:750px) {
	#mainContainer {
		width: 75%;
	}
	#cvHeader img {
		width: 35%;
	}
	.headerSideImg {
		width: 65%;
	}
	#cvHeader h1 {
		font-size: 40px;
	}
	#cvHeader h2 {
		font-size: 18px;
	}
	#rightBanner {
		width: 30%;
		float: right;
	}
	#mainLeft {
		width: 70%;
		float: left;
		padding-right: 25px;
	}
	.headerR {
		padding-top: 50px;
		margin-left: 0;
		float: right;
	}
	.headerM {
		padding-top: 50px;
	}
}
/* ******************************************************* */
/* ******************************************************* */
@media only screen and (min-width:1152px) {
	#mainContainer {
		width: 66%;
	}
	#cvHeader img {
		float: left;
		width: 20%;
	}
	.headerSideImg {
		float: left;
		width: 80%;
	}
	.headerM {
		float: left;
		padding: 70px 0 0 30px;
	}
	.headerR {
		
	}
}
