* {
    box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	background-color: darkslategray;
}
p {
     margin: 0px;
}
h1, h2 {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.9;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
.clearD{
	clear: both;
}
/* ****************************** */
#mainContainer {
	background-color: #fff;
	width: 66%;
	margin: 75px auto;
	padding: 15px 25px;
	font-family: "Trebuchet MS", arial;
	border-bottom: 7px solid rgb(204, 116, 0);
}
#cvHeader {
	overflow:hidden;
	border-bottom: #357777 7px solid;
	padding-bottom: 30px;
	position: relative;
}
#cvHeader img {
	float: left;
	border: 3px solid #357777;
	width: 20%;
	height: auto;
}
img#profilePic {
	padding: 7px;
	/*margin-right: 30px;*/
}
.headerSideImg {
	float: left;
	width: 80%;
}
.headerM {
	float: left;
	padding: 60px 0 0 30px;
}
.headerR {
	float: right;
}
#cvHeader h1 {
	/*font-family: 'LeagueGothicRegular', serif;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 40px;
	color: #000;
	letter-spacing: 0;
	/*margin-top: 60px;
	margin-left: 150px;*/
}
#cvHeader h2 {
	font-family: 'LeagueGothicRegular', serif;
	font-size: 18px;
	color: dimgray;
	letter-spacing: 0;
	margin-top: 3px;
	/*margin-left: 150px;*/
}
#cvHeader ul {
	/*position: absolute;
	top: 0;
	right: 0;*/
	margin: 0;
	padding: 75px 0 0 20px;
	font-size: 12px;
	line-height: 1.8;
	font-weight: bold;
}
#cvHeader ul li {
	list-style: none;
}
#cvHeader ul li i {
	margin-right: 10px;
	font-size: 17px;
	color: #438585;
}
.iconSet {
	font-size: 12px;
	background-color: #838282;
}
/* ********************************************** */
#cvBody {
	margin-top: 30px;
	color: #000;
}
#cvBody h2,#rightBanner .skilsTiltle {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #363636;
	margin-bottom: 10px;
}
#cvBody h2 {
	border-bottom: solid #363636 1px;
	line-height: 1.8;
	letter-spacing: 3px;
}
#cvBody i {
	margin-right: 10px;
	font-size: 30px;
}
#rightBanner {
	width: 30%;
	float: right;
}
section {
	margin-bottom: 30px;
	font-size: 12px;
}
.rightBannerBlog {
	overflow-x:auto;
}
#rightBanner .rightBannerBlog {
	text-align: justify;
}
table {
	border: none;
	width: 100%;
	font-size: 11px;
	border-collapse: collapse;
	margin-bottom: 25px;
}
.rightBannerBlog table tr td {
	vertical-align: center;
	padding-top: 10px;
}
.rightBannerBlog table tr td:first-child {
	width: 25%;
}
.rightBannerBlog table tr td:nth-child(2) {
	width: 75%;
	padding-left: 10px;
}
table .defaultFullSkill {
	width: 100%;
	height: 10px;
	background-color: #a5a4a4;
}
table .defaultFullSkill .skillProcent {
	height: 100%;
	background-color: #000;
}
#mainLeft {
	width: 70%;
	float: left;
	padding-right: 25px;
}
#mainLeft p {
	line-height: 1.8;
}
#mainLeft h3 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #363636;
	margin-bottom: 10px;
}
#mainLeft .underTitles {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	color: #838282;
}
#mainLeft table tr td {
	vertical-align: top;
	padding-top: 15px;
}
#mainLeft section {
	overflow-x:auto;
}
#mainLeft table tr td:first-child {
	width: 30%;
}
#mainLeft table tr td:nth-child(2) {
	width: 70%;
	padding-left: 20px;
}
/* ************************************** */
/* ************************************** */
/* ************************************** */
/* ************************************** */
@media only screen and (max-width:750px) {
  /* For tablets: */
  #mainContainer {width: 100%;}
  #cvHeader h1 {
	  font-size: 30px;
  }
  #cvHeader h2 {
	  font-size: 14px;
  }
  #cvHeader img {
	  width: 30%;
  }
  .headerSideImg {
	  width: 70%;
  }
  .headerM, .headerR {
	  float: none;
	  width: 100%;
  }
  #rightBanner, #mainLeft {
	  float: none;
	  width: 100%;
  }
}





@media only screen and (max-width:450px) {
  /* For mobile phones: */
  #mainContainer {width: 100%;}
  #cvHeader h1 {
	  font-size: 20px;
  }
  #cvHeader h2 {
	  font-size: 10px;
  }
  #cvHeader img {
	  width: 100%;
  }
  .headerSideImg {
	  width: 100%;
  }
  .headerM, .headerR {
	  float: none;
	  width: 100%;
  }
  #rightBanner, #mainLeft {
	  float: none;
	  width: 100%;
  }  
}
